{% extends "base.html" %}

{% block head %}

<title>posts page</title>

{% endblock head %}

{% block body %}

    <hr>
        <form action="{{ url_for('posts') }}" method="POST">
            Title : <input type="text" name="title" id="title" required><br>
            content : <input type="text" name="content" id="content" required><br>
            author : <input type="text" name="author" id="author"><br>
            <input type="submit" value="Post it "><br>
            
        </form>
    <hr>     

{% endblock body %}